@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "BioRhyme", serif;
}
body {
  background: #000000;
}

.App {
  width: 100%;
}
